body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    border: 10px solid black;
    flex-grow: 0;
    flex-shrink: 0;
    width: 50vh;
    height: 50vh;
    min-height: 250px;
    min-width: 250px;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.row {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.box {
    flex-grow: 1;
    flex-shrink: 0;
}

#heading {
    color:cadetblue;
    font-size: 30px;
    padding: 30px;
}